# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
* List popular languages for Data Science
* List some commonly libraries used by Data Scientist
* Create a Jupyter notebook
* Insert code and markdown cells

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientist include:
1. ggplot
2. matplotlib
3. Pandas

|Data Science Tools |
----
| Jupyter Notebooks |
| RStudio |
| Spyder |

### Below are few examples of evaluating arithmetic expression in Python.

In [1]:
(3*4)+5
#This a simple arithmetic expression to multiply then add integers.

17

In [3]:
(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Jonathan Lauro Enriquez Duro